<div class="container">
    
    <h3 class="mt-2">Listado de tareas</h3>
    <a href="/tarea/form" class="btn btn-dark btn-sm">Agregar tarea</a>
    
    {{#each tareas}}
        <div class="row mt-2 pregunta-tarea">
            <div class="col-md-11">
                <a class="listPreguntaTarea" href="/respuestaTarea/{{idTarea}}">{{nombre}}</a><br>
                <strong>Solicitante:</strong> {{nombreSolicitante}} <br> <strong>Asignado:</strong> {{nombreAsignado}} <br> <strong>Fecha:</strong> {{timeago fechayhora}}
            </div>
            {{!-- <div class="col-md-1">
                <a href="/tarea/edit/{{idTarea}}" class="btn btn-info btn-sm">Editar</a>
            </div> --}}
            <div class="col-md-1">
                <a href="/tarea/delete/{{idTarea}}" class="btn btn-danger btn-sm">Eliminar</a>
            </div>
        </div>
    {{/each}}
</div>
